<h1>My Account</h1>
<div class="row">
  <section class="four columns">
  <h3 class="subheader">Logins</h3>
  <ul class="unstyled">
    <li>
    Facebook
    account linked
    </li>
    <li>
    Twitter
    account linked
    </li>
    <li>
    Google
    account linked
    </li>
    <li>
    <br>
    <a href="/logout" data-no-turbolink="true">Logout</a>
    </li>
  </ul>
  </section>
  <section class="four columns">
  <h3 class="subheader">My Recipes</h3>
  <ul class="unstyled">
    <li><a href="#/recipes/new">Add a recipe</a></li>
    <li ng-repeat="recipe in recipes">
      <a href="{{recipe.app_url()}}">{{recipe.title}}</a>
      (<a href="{{recipe.app_url()}}/edit">edit</a>)
    </li>
  </ul>
  </section>
  <section class="four columns">
  <h3 class="subheader">My Cookbooks</h3>
  <ul class="unstyled">
    <li><a href="#/cookbooks/new">Create a cookbook</a></li>
    <li ng-repeat="cookbook in cookbooks">
      <a href="#/cookbooks/{{cookbook.id}}">{{cookbook.name}}</a>
      (<a href="#/cookbooks/{{cookbook.id}}/edit">edit</a>)
    </li>
  </ul>
  </section>
</div>
