<div class="reveal-modal large shopping-list-modal authorization-modal">
  <a class="close-reveal-modal">&times;</a>

  <h3>Login to Little Chef</h3>

  <div class="row">
    <div class="login-buttons eight columns">
      <a href="http://www.littlechefapp.com/auth/facebook" class="btn-auth btn-facebook large">
        Login with Facebook
      </a>
      <a href="http://www.littlechefapp.com/auth/twitter" class="btn-auth btn-twitter large">
        Login with Twitter
      </a>
      <a href="http://www.littlechefapp.com/auth/google_oauth2" class="btn-auth btn-google large">
        Login with Google
      </a>
    </div>

    <p class="four columns">Little Chef will never share your personal information or post on your behalf.</p>
  </div>
</div>
