<div class="twelve columns">
  <div class="fixed">
    <nav class="top-bar">
      <ul>
        <li class="name">
        <h1><a href="/" class="brand">little chef</a></h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section>
        <ul class="left" ng-show="!user">
          <li><a href="#" class="action-login" data-no-turbolink="true">Login</a></li>
        </ul>

        <ul class="left" ng-show="user">
          <li><a href="#/favorites">Favorites</a></li>
          <li><a href="#/shopping-list">Shopping List</a></li>
          <li class="has-dropdown" ng-show="user.admin">
            <a>Admin</a>
            <ul class="dropdown">
              <li class="title back js-generated" style=""><h5><a href="#">Admin</a></h5></li>
              <li><a href="/admin/recipes">Curate Recipes</a></li>
              <li><a href="/admin/ingredients">Ingredients</a></li>
              <li><a href="/admin/ingredient_categories">Ingredient Categories</a></li>
              <li><a href="/admin/tags">Tags</a></li>
              <li><a href="/admin/stats">Stats</a></li>
            </ul>
          </li>
        </ul>

        <ul class="right">
          <li ng-show="user">
            <a href="#/account" class="account-link">
              <img alt="N575683589_1343598_1804_normal" class="account-image" ng-src="{{user.picture}}">
              <span>{{user.login}}</span>
            </a>
          </li>
          <li class="search">
            <form action="/search" class="form-search navbar-search pull-right lc-search" method="get">
              <input class="search-query" name="q" placeholder="Find Recipes" type="search">
            </form>
          </li>
        </ul>

      </section>
    </nav>
  </div>
</div>
