<h1>Shopping List</h1>

<form ng-submit="create(newItemName)" class="shopping-item-form">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
  </div>
  <div class="row collapse">
    <div class="ten mobile-three columns">
      <input ng-model="newItemName" id="shopping_item_name" name="shopping_item[name]" size="30" type="text">
    </div>
    <div class="two mobile-one columns">
      <input class="button expand postfix" name="commit" type="submit" value="Add">
    </div>
  </div>
</form>

<ul class="unstyled shopping-items">
  <li ng-repeat="item in items">
    <input class="shopping-item-checkbox" ng-change="item.$update()" ng-model="item.checked" id="si-{{item.id}}"  type="checkbox">
    <label for="si-{{item.id}}">
      {{item.name}}
    </label>
  </li>
</ul>

<div class="medium button split dropdown">
  <a ng-click="removeSelected()" class="action-remove-checked-shopping-items">Remove</a>
  <span></span>
  <ul class="no-hover" style="top: 36px;">
    <li>
      <a ng-click="removeAll()" class="btn btn-link action-remove-all-shopping-items">Remove all</a>
    </li>
  </ul>
</div>
