<!doctype html>
<html ng-app="littlechef">
  <head>
    <link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css">

    <script src="/javascripts/lib/jquery-min.js"></script>
    <script src="/javascripts/lib/foundation-min.js"></script>
    <script src="/javascripts/lib/underscore-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="/javascripts/lib/angular-resource-min.js"></script>

    <script src="/javascripts/littlechef.js"></script>

    <script src="/javascripts/controllers/application.js"></script>
    <script src="/javascripts/controllers/shopping_list.js"></script>
    <script src="/javascripts/controllers/popular_recipes.js"></script>
    <script src="/javascripts/controllers/recipe_detail.js"></script>
    <script src="/javascripts/controllers/favorites.js"></script>
    <script src="/javascripts/controllers/search.js"></script>
    <script src="/javascripts/controllers/add_recipe_to_shopping_list.js"></script>

    <script src="/javascripts/models/recipe.js"></script>
    <script src="/javascripts/models/favorite.js"></script>
    <script src="/javascripts/models/user.js"></script>
    <script src="/javascripts/models/shopping_item.js"></script>

    <script src="/javascripts/directives/reveal_add_recipe_to_shopping_list.js"></script>
    <script src="/javascripts/directives/close_reveal_modal.js"></script>
    <script src="/javascripts/directives/authorized.js"></script>
    <script src="/javascripts/directives/ng_infinite_scroll.js"></script>

    <script src="/javascripts/filters/string_helpers.js"></script>
  </head>

  <body ng-controller="ApplicationController" style="padding-top: 45px;">

    <div class="row" ng-include src="'views/menu.html'">
    </div>

    <div class="row">
      <div class="twelve columns" ng-view>
      </div>
    </div>

    <ng-include src="'views/add_recipe_to_shopping_list_modal.html'" /></ng-include>
    <ng-include src="'views/authorization.html'"></ng-include>
  </body>
</html>
