<div class="recipe clearfix" itemscope="" itemtype="http://schema.org/Recipe">
  <div class="recipe-image pull-left">
    <a href="{{recipe.app_url()}}">
      <img class="food actual" height="100" ng-src="{{recipe.thumb_url()}}" width="100">
    </a>
  </div>
  <div class="recipe-detail">
    <div class="recipe-header">
      <h3>
        <a href="{{recipe.app_url()}}">{{recipe.title}}</a>
      </h3>
      <div ng-include src="'views/recipes/actions.html'"></div>
    </div>
    <p class="hide-for-small">{{recipe.description}}</p>
  </div>
</div>
